* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0 auto;
}

hr{
    width: 190mm;
    align-self: center;
}

#contenedor {
    width: 100%;
    background-color: #28282B;
    padding-top: 10mm; /* separación de 10mm superior */
    padding-bottom: 10mm; /* separación de 10mm inferior */
}

#hoja {
    margin: 0 auto;
    width: 210mm;
    height: 297mm;
    background-color: #FFF5EE;
}

#cabecera h1 {
    padding-top: 11mm;
    width: 100%;
    text-align: center;
    font-size: x-large;
}